<%- include('../../partials/header')  %>

<div class="card">
  <h3 class="card__title">
    <a href=""><%= article.title %></a>
  </h3>
  <div class="card__details">
    <p class="createdBy">
      Penulis: <a href="">@<%= article.createdBy %></a>
    </p>
    <p class="createdAt">Dibuat pada: <%= article.createdAt.toLocaleDateString() %> </p>
    <p class="updatedAt">Terakhir update: <%= article.updatedAt.toLocaleDateString() %></p>
  </div>
  <div class="markdown mt"><%- article.sanitizedHTML %> </div>
  <div class="card__buttons mt-2">
    <a href="/admin/articles/edit/<%= article._id %>" class="btn btn-primary">Edit blog</a>
    <a href="/admin/articles" class="btn btn-secondary">See All</a>
  </div>
</div>

<%- include('../../partials/footer')  %>